#main {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  .movie ,.tv{
    margin: 1rem auto 1rem 1rem;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.205);
    width: 160px;
    background: rgba(165, 18, 18, 0.151);
    img {
      max-width: 100%;
    }
    .info {
      color: #eee;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem 1rem;
      letter-spacing: 1px;
      h5 {
        margin: 0;
      }
      span {
        font-size: 0.9rem;
        background: rgba(0, 0, 0, 0.445);
        padding: 0.2rem 0.5rem;
        border-radius: 3px;
        &.green {
          color: rgb(19, 151, 19);
        }
        &.orange {
          color: orange;
        }
        &.red {
          color: red;
        }
      }
    }
  }
}

#movies,
#tvs {
  max-width: 100vw;
  margin-top: -20px;
  h2 {
    font-size: 1.1rem;
    margin: 2rem 1rem;
  }
  h4 {
    font-size: 1rem;
    padding: 20px;
  }
  #toprated,
  #upcoming,
  #ttoprated,
  #airtdy {
    max-width: 100vw;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .tmovie,
    .umovie,
    .ttv,
    .atv {
      // background: rgba(15, 189, 93, 0.459);
      position: relative;
      overflow: hidden;
      margin: 10px;
      background: #162835b6;
      border-radius: 3px;
      width: 300px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
      &:hover .view{
        transform: rotateY(0);
      }
      img {
        height: 280px;
        width: 100%;
      }
      .tinfo,
      .uinfo,
      .ttinfo,
      .atinfo {
        color: #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        letter-spacing: 1px;

        h3 {
          margin: 0;
          font-size: 1rem;
        }
        span {
          font-size: 0.9rem;
          background: rgba(0, 0, 0, 0.445);
          padding: 0.25rem 0.35rem;
          &.green {
            color: rgb(19, 151, 19);
          }
          &.orange {
            color: orange;
          }
          &.red {
            color: red;
          }
        }
      }
      .view{
        color: #000;
        padding: 2rem;
        background: rgba(255, 255, 255, 0.973);
        position: absolute;
        max-height: 100%;
        overflow: auto;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateY(100%);
        transition: transform 0.3s ease-in;
        &::-webkit-scrollbar{
          width: 5px;
        }
        &::-webkit-scrollbar-thumb{
          border-radius: 10px;
          background: rgb(48, 44, 44);
        }
        h4{
          margin-top: 0;
        }
        p{
          font-weight: 600;
          font-style: italic;
          font-size: 90%;
        }
      }
    }
  }

  #newrelease,
  #onair {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    .nmovie,
    .ontv {
      margin: 1rem auto 1rem 1rem;
      max-width: 100vw;
      border-radius: 3px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.205);
      width: 160px;

      background: rgba(165, 18, 18, 0.151);
      &:hover .view{
        transform: translateY(0);
      }
      img {
        max-width: 100%;
      }
      .ninfo,
      .oninfo {
        color: #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem 1rem;
        letter-spacing: 1px;
        h5 {
          margin: 0;
        }
        span {
          font-size: 0.9rem;
          background: rgba(0, 0, 0, 0.445);
          padding: 0.2rem 0.5rem;
          border-radius: 3px;
          &.green {
            color: rgb(19, 151, 19);
          }
          &.orange {
            color: orange;
          }
          &.red {
            color: red;
          }
        }
      }
      .view{
        color: #000;
        padding: 0.7rem;
        background: rgba(255, 255, 255, 0.973);
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        overflow: auto;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateY(105%);
        transition: transform 0.3s ease-in;
        &::-webkit-scrollbar{
          width: 2px;
        }
        &::-webkit-scrollbar-thumb{
          border-radius: 10px;
          background: rgb(48, 44, 44);
        }
        h4{
          margin-top: 0;
        }
        p{
          font-weight: 600;
          font-style: italic;
          font-size: 90%;
        }
      }
    }
  }
}
