@import 'moviesandtvs';
@import 'rwd';


*{
  box-sizing: border-box;
  list-style-type: none;margin: 0;
  padding: 0;
}
body{
  color: rgba(255, 255, 255, 0.63);
  background:  #031d33;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Poppins',sans-serif;
  overflow-x: hidden;
}

.spin-wrap{
  position: fixed;
  z-index: 99999;
  background:#0a2c49;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner{
  position: relative;
  height: 80px;
  width: 80px;
  &-q{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: inherit;
    width: inherit;
    border: 4px solid transparent;
    animation: blink 1.5s infinite ease-out;
    border-radius: 50%;
  }

  @keyframes blink {
    0%{border-top-color: rgb(68, 68, 68);}
    33%{border-top-color: rgba(rgb(63, 63, 63), .33);}
    100%{border-top-color: rgba(rgb(59, 59, 59), 0);}
  }

  @for $i from 1 through 3{
    .spinner-q-#{$i + 1}{
      transform: rotate($i * 90deg);
      animation-delay: 1.5s * $i / 4;
    }
  }
}
header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: flex-start;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  .logo{
    width: 100px;
    svg{
      font-size: 1.2rem;
    }
  }
  nav{
    margin: 15px;
    justify-self:center;
    ul{
      display: flex;
      flex-direction: row;
      list-style-type: none;
      li{
        margin: 15px 3px;
        a{
          color: rgb(33, 194, 153);
          text-decoration: none;
        }
      }
    }
  }
  .searchArea{
    padding: 1.7rem;
    justify-self: flex-end;
    .search{
      padding: 0.2rem 1rem;
      background: transparent;
      border: 1px solid rgba(33, 194, 154, 0.5);
      border-radius: 15px;
      color: #eee;
      font-family: inherit;
      outline: none;
      &::placeholder{
        color: rgba(238, 238, 238, 0.616);
      }
      &:focus{
        background: rgba(238, 238, 238, 0.096);
      }
    }
  }
}


footer{
  background: rgba(238, 238, 238, 0.171);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  div{
    margin: 5px;
  }
}