#main {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#movies,
#tvs {
  max-width: 100vw;
  margin-top: -20px;
}

#movies h2,
#tvs h2 {
  font-size: 1.1rem;
  margin: 2rem 1rem;
}

#movies h4,
#tvs h4 {
  font-size: 1rem;
  padding: 20px;
}

#movies #toprated,
#movies #upcoming,
#movies #ttoprated,
#movies #airtdy,
#tvs #toprated,
#tvs #upcoming,
#tvs #ttoprated,
#tvs #airtdy {
  max-width: 100vw;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#movies #toprated .tmovie,
#movies #toprated .umovie,
#movies #toprated .ttv,
#movies #toprated .atv,
#movies #upcoming .tmovie,
#movies #upcoming .umovie,
#movies #upcoming .ttv,
#movies #upcoming .atv,
#movies #ttoprated .tmovie,
#movies #ttoprated .umovie,
#movies #ttoprated .ttv,
#movies #ttoprated .atv,
#movies #airtdy .tmovie,
#movies #airtdy .umovie,
#movies #airtdy .ttv,
#movies #airtdy .atv,
#tvs #toprated .tmovie,
#tvs #toprated .umovie,
#tvs #toprated .ttv,
#tvs #toprated .atv,
#tvs #upcoming .tmovie,
#tvs #upcoming .umovie,
#tvs #upcoming .ttv,
#tvs #upcoming .atv,
#tvs #ttoprated .tmovie,
#tvs #ttoprated .umovie,
#tvs #ttoprated .ttv,
#tvs #ttoprated .atv,
#tvs #airtdy .tmovie,
#tvs #airtdy .umovie,
#tvs #airtdy .ttv,
#tvs #airtdy .atv {
  position: relative;
  overflow: hidden;
  margin: 10px;
  background: #162835b6;
  border-radius: 3px;
  width: 300px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

#movies #toprated .tmovie:hover .view,
#movies #toprated .umovie:hover .view,
#movies #toprated .ttv:hover .view,
#movies #toprated .atv:hover .view,
#movies #upcoming .tmovie:hover .view,
#movies #upcoming .umovie:hover .view,
#movies #upcoming .ttv:hover .view,
#movies #upcoming .atv:hover .view,
#movies #ttoprated .tmovie:hover .view,
#movies #ttoprated .umovie:hover .view,
#movies #ttoprated .ttv:hover .view,
#movies #ttoprated .atv:hover .view,
#movies #airtdy .tmovie:hover .view,
#movies #airtdy .umovie:hover .view,
#movies #airtdy .ttv:hover .view,
#movies #airtdy .atv:hover .view,
#tvs #toprated .tmovie:hover .view,
#tvs #toprated .umovie:hover .view,
#tvs #toprated .ttv:hover .view,
#tvs #toprated .atv:hover .view,
#tvs #upcoming .tmovie:hover .view,
#tvs #upcoming .umovie:hover .view,
#tvs #upcoming .ttv:hover .view,
#tvs #upcoming .atv:hover .view,
#tvs #ttoprated .tmovie:hover .view,
#tvs #ttoprated .umovie:hover .view,
#tvs #ttoprated .ttv:hover .view,
#tvs #ttoprated .atv:hover .view,
#tvs #airtdy .tmovie:hover .view,
#tvs #airtdy .umovie:hover .view,
#tvs #airtdy .ttv:hover .view,
#tvs #airtdy .atv:hover .view {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

#movies #toprated .tmovie img,
#movies #toprated .umovie img,
#movies #toprated .ttv img,
#movies #toprated .atv img,
#movies #upcoming .tmovie img,
#movies #upcoming .umovie img,
#movies #upcoming .ttv img,
#movies #upcoming .atv img,
#movies #ttoprated .tmovie img,
#movies #ttoprated .umovie img,
#movies #ttoprated .ttv img,
#movies #ttoprated .atv img,
#movies #airtdy .tmovie img,
#movies #airtdy .umovie img,
#movies #airtdy .ttv img,
#movies #airtdy .atv img,
#tvs #toprated .tmovie img,
#tvs #toprated .umovie img,
#tvs #toprated .ttv img,
#tvs #toprated .atv img,
#tvs #upcoming .tmovie img,
#tvs #upcoming .umovie img,
#tvs #upcoming .ttv img,
#tvs #upcoming .atv img,
#tvs #ttoprated .tmovie img,
#tvs #ttoprated .umovie img,
#tvs #ttoprated .ttv img,
#tvs #ttoprated .atv img,
#tvs #airtdy .tmovie img,
#tvs #airtdy .umovie img,
#tvs #airtdy .ttv img,
#tvs #airtdy .atv img {
  height: 280px;
  width: 100%;
}

#movies #toprated .tmovie .tinfo,
#movies #toprated .tmovie .uinfo,
#movies #toprated .tmovie .ttinfo,
#movies #toprated .tmovie .atinfo,
#movies #toprated .umovie .tinfo,
#movies #toprated .umovie .uinfo,
#movies #toprated .umovie .ttinfo,
#movies #toprated .umovie .atinfo,
#movies #toprated .ttv .tinfo,
#movies #toprated .ttv .uinfo,
#movies #toprated .ttv .ttinfo,
#movies #toprated .ttv .atinfo,
#movies #toprated .atv .tinfo,
#movies #toprated .atv .uinfo,
#movies #toprated .atv .ttinfo,
#movies #toprated .atv .atinfo,
#movies #upcoming .tmovie .tinfo,
#movies #upcoming .tmovie .uinfo,
#movies #upcoming .tmovie .ttinfo,
#movies #upcoming .tmovie .atinfo,
#movies #upcoming .umovie .tinfo,
#movies #upcoming .umovie .uinfo,
#movies #upcoming .umovie .ttinfo,
#movies #upcoming .umovie .atinfo,
#movies #upcoming .ttv .tinfo,
#movies #upcoming .ttv .uinfo,
#movies #upcoming .ttv .ttinfo,
#movies #upcoming .ttv .atinfo,
#movies #upcoming .atv .tinfo,
#movies #upcoming .atv .uinfo,
#movies #upcoming .atv .ttinfo,
#movies #upcoming .atv .atinfo,
#movies #ttoprated .tmovie .tinfo,
#movies #ttoprated .tmovie .uinfo,
#movies #ttoprated .tmovie .ttinfo,
#movies #ttoprated .tmovie .atinfo,
#movies #ttoprated .umovie .tinfo,
#movies #ttoprated .umovie .uinfo,
#movies #ttoprated .umovie .ttinfo,
#movies #ttoprated .umovie .atinfo,
#movies #ttoprated .ttv .tinfo,
#movies #ttoprated .ttv .uinfo,
#movies #ttoprated .ttv .ttinfo,
#movies #ttoprated .ttv .atinfo,
#movies #ttoprated .atv .tinfo,
#movies #ttoprated .atv .uinfo,
#movies #ttoprated .atv .ttinfo,
#movies #ttoprated .atv .atinfo,
#movies #airtdy .tmovie .tinfo,
#movies #airtdy .tmovie .uinfo,
#movies #airtdy .tmovie .ttinfo,
#movies #airtdy .tmovie .atinfo,
#movies #airtdy .umovie .tinfo,
#movies #airtdy .umovie .uinfo,
#movies #airtdy .umovie .ttinfo,
#movies #airtdy .umovie .atinfo,
#movies #airtdy .ttv .tinfo,
#movies #airtdy .ttv .uinfo,
#movies #airtdy .ttv .ttinfo,
#movies #airtdy .ttv .atinfo,
#movies #airtdy .atv .tinfo,
#movies #airtdy .atv .uinfo,
#movies #airtdy .atv .ttinfo,
#movies #airtdy .atv .atinfo,
#tvs #toprated .tmovie .tinfo,
#tvs #toprated .tmovie .uinfo,
#tvs #toprated .tmovie .ttinfo,
#tvs #toprated .tmovie .atinfo,
#tvs #toprated .umovie .tinfo,
#tvs #toprated .umovie .uinfo,
#tvs #toprated .umovie .ttinfo,
#tvs #toprated .umovie .atinfo,
#tvs #toprated .ttv .tinfo,
#tvs #toprated .ttv .uinfo,
#tvs #toprated .ttv .ttinfo,
#tvs #toprated .ttv .atinfo,
#tvs #toprated .atv .tinfo,
#tvs #toprated .atv .uinfo,
#tvs #toprated .atv .ttinfo,
#tvs #toprated .atv .atinfo,
#tvs #upcoming .tmovie .tinfo,
#tvs #upcoming .tmovie .uinfo,
#tvs #upcoming .tmovie .ttinfo,
#tvs #upcoming .tmovie .atinfo,
#tvs #upcoming .umovie .tinfo,
#tvs #upcoming .umovie .uinfo,
#tvs #upcoming .umovie .ttinfo,
#tvs #upcoming .umovie .atinfo,
#tvs #upcoming .ttv .tinfo,
#tvs #upcoming .ttv .uinfo,
#tvs #upcoming .ttv .ttinfo,
#tvs #upcoming .ttv .atinfo,
#tvs #upcoming .atv .tinfo,
#tvs #upcoming .atv .uinfo,
#tvs #upcoming .atv .ttinfo,
#tvs #upcoming .atv .atinfo,
#tvs #ttoprated .tmovie .tinfo,
#tvs #ttoprated .tmovie .uinfo,
#tvs #ttoprated .tmovie .ttinfo,
#tvs #ttoprated .tmovie .atinfo,
#tvs #ttoprated .umovie .tinfo,
#tvs #ttoprated .umovie .uinfo,
#tvs #ttoprated .umovie .ttinfo,
#tvs #ttoprated .umovie .atinfo,
#tvs #ttoprated .ttv .tinfo,
#tvs #ttoprated .ttv .uinfo,
#tvs #ttoprated .ttv .ttinfo,
#tvs #ttoprated .ttv .atinfo,
#tvs #ttoprated .atv .tinfo,
#tvs #ttoprated .atv .uinfo,
#tvs #ttoprated .atv .ttinfo,
#tvs #ttoprated .atv .atinfo,
#tvs #airtdy .tmovie .tinfo,
#tvs #airtdy .tmovie .uinfo,
#tvs #airtdy .tmovie .ttinfo,
#tvs #airtdy .tmovie .atinfo,
#tvs #airtdy .umovie .tinfo,
#tvs #airtdy .umovie .uinfo,
#tvs #airtdy .umovie .ttinfo,
#tvs #airtdy .umovie .atinfo,
#tvs #airtdy .ttv .tinfo,
#tvs #airtdy .ttv .uinfo,
#tvs #airtdy .ttv .ttinfo,
#tvs #airtdy .ttv .atinfo,
#tvs #airtdy .atv .tinfo,
#tvs #airtdy .atv .uinfo,
#tvs #airtdy .atv .ttinfo,
#tvs #airtdy .atv .atinfo {
  color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  letter-spacing: 1px;
}

#movies #toprated .tmovie .tinfo h3,
#movies #toprated .tmovie .uinfo h3,
#movies #toprated .tmovie .ttinfo h3,
#movies #toprated .tmovie .atinfo h3,
#movies #toprated .umovie .tinfo h3,
#movies #toprated .umovie .uinfo h3,
#movies #toprated .umovie .ttinfo h3,
#movies #toprated .umovie .atinfo h3,
#movies #toprated .ttv .tinfo h3,
#movies #toprated .ttv .uinfo h3,
#movies #toprated .ttv .ttinfo h3,
#movies #toprated .ttv .atinfo h3,
#movies #toprated .atv .tinfo h3,
#movies #toprated .atv .uinfo h3,
#movies #toprated .atv .ttinfo h3,
#movies #toprated .atv .atinfo h3,
#movies #upcoming .tmovie .tinfo h3,
#movies #upcoming .tmovie .uinfo h3,
#movies #upcoming .tmovie .ttinfo h3,
#movies #upcoming .tmovie .atinfo h3,
#movies #upcoming .umovie .tinfo h3,
#movies #upcoming .umovie .uinfo h3,
#movies #upcoming .umovie .ttinfo h3,
#movies #upcoming .umovie .atinfo h3,
#movies #upcoming .ttv .tinfo h3,
#movies #upcoming .ttv .uinfo h3,
#movies #upcoming .ttv .ttinfo h3,
#movies #upcoming .ttv .atinfo h3,
#movies #upcoming .atv .tinfo h3,
#movies #upcoming .atv .uinfo h3,
#movies #upcoming .atv .ttinfo h3,
#movies #upcoming .atv .atinfo h3,
#movies #ttoprated .tmovie .tinfo h3,
#movies #ttoprated .tmovie .uinfo h3,
#movies #ttoprated .tmovie .ttinfo h3,
#movies #ttoprated .tmovie .atinfo h3,
#movies #ttoprated .umovie .tinfo h3,
#movies #ttoprated .umovie .uinfo h3,
#movies #ttoprated .umovie .ttinfo h3,
#movies #ttoprated .umovie .atinfo h3,
#movies #ttoprated .ttv .tinfo h3,
#movies #ttoprated .ttv .uinfo h3,
#movies #ttoprated .ttv .ttinfo h3,
#movies #ttoprated .ttv .atinfo h3,
#movies #ttoprated .atv .tinfo h3,
#movies #ttoprated .atv .uinfo h3,
#movies #ttoprated .atv .ttinfo h3,
#movies #ttoprated .atv .atinfo h3,
#movies #airtdy .tmovie .tinfo h3,
#movies #airtdy .tmovie .uinfo h3,
#movies #airtdy .tmovie .ttinfo h3,
#movies #airtdy .tmovie .atinfo h3,
#movies #airtdy .umovie .tinfo h3,
#movies #airtdy .umovie .uinfo h3,
#movies #airtdy .umovie .ttinfo h3,
#movies #airtdy .umovie .atinfo h3,
#movies #airtdy .ttv .tinfo h3,
#movies #airtdy .ttv .uinfo h3,
#movies #airtdy .ttv .ttinfo h3,
#movies #airtdy .ttv .atinfo h3,
#movies #airtdy .atv .tinfo h3,
#movies #airtdy .atv .uinfo h3,
#movies #airtdy .atv .ttinfo h3,
#movies #airtdy .atv .atinfo h3,
#tvs #toprated .tmovie .tinfo h3,
#tvs #toprated .tmovie .uinfo h3,
#tvs #toprated .tmovie .ttinfo h3,
#tvs #toprated .tmovie .atinfo h3,
#tvs #toprated .umovie .tinfo h3,
#tvs #toprated .umovie .uinfo h3,
#tvs #toprated .umovie .ttinfo h3,
#tvs #toprated .umovie .atinfo h3,
#tvs #toprated .ttv .tinfo h3,
#tvs #toprated .ttv .uinfo h3,
#tvs #toprated .ttv .ttinfo h3,
#tvs #toprated .ttv .atinfo h3,
#tvs #toprated .atv .tinfo h3,
#tvs #toprated .atv .uinfo h3,
#tvs #toprated .atv .ttinfo h3,
#tvs #toprated .atv .atinfo h3,
#tvs #upcoming .tmovie .tinfo h3,
#tvs #upcoming .tmovie .uinfo h3,
#tvs #upcoming .tmovie .ttinfo h3,
#tvs #upcoming .tmovie .atinfo h3,
#tvs #upcoming .umovie .tinfo h3,
#tvs #upcoming .umovie .uinfo h3,
#tvs #upcoming .umovie .ttinfo h3,
#tvs #upcoming .umovie .atinfo h3,
#tvs #upcoming .ttv .tinfo h3,
#tvs #upcoming .ttv .uinfo h3,
#tvs #upcoming .ttv .ttinfo h3,
#tvs #upcoming .ttv .atinfo h3,
#tvs #upcoming .atv .tinfo h3,
#tvs #upcoming .atv .uinfo h3,
#tvs #upcoming .atv .ttinfo h3,
#tvs #upcoming .atv .atinfo h3,
#tvs #ttoprated .tmovie .tinfo h3,
#tvs #ttoprated .tmovie .uinfo h3,
#tvs #ttoprated .tmovie .ttinfo h3,
#tvs #ttoprated .tmovie .atinfo h3,
#tvs #ttoprated .umovie .tinfo h3,
#tvs #ttoprated .umovie .uinfo h3,
#tvs #ttoprated .umovie .ttinfo h3,
#tvs #ttoprated .umovie .atinfo h3,
#tvs #ttoprated .ttv .tinfo h3,
#tvs #ttoprated .ttv .uinfo h3,
#tvs #ttoprated .ttv .ttinfo h3,
#tvs #ttoprated .ttv .atinfo h3,
#tvs #ttoprated .atv .tinfo h3,
#tvs #ttoprated .atv .uinfo h3,
#tvs #ttoprated .atv .ttinfo h3,
#tvs #ttoprated .atv .atinfo h3,
#tvs #airtdy .tmovie .tinfo h3,
#tvs #airtdy .tmovie .uinfo h3,
#tvs #airtdy .tmovie .ttinfo h3,
#tvs #airtdy .tmovie .atinfo h3,
#tvs #airtdy .umovie .tinfo h3,
#tvs #airtdy .umovie .uinfo h3,
#tvs #airtdy .umovie .ttinfo h3,
#tvs #airtdy .umovie .atinfo h3,
#tvs #airtdy .ttv .tinfo h3,
#tvs #airtdy .ttv .uinfo h3,
#tvs #airtdy .ttv .ttinfo h3,
#tvs #airtdy .ttv .atinfo h3,
#tvs #airtdy .atv .tinfo h3,
#tvs #airtdy .atv .uinfo h3,
#tvs #airtdy .atv .ttinfo h3,
#tvs #airtdy .atv .atinfo h3 {
  margin: 0;
  font-size: 1rem;
}

#movies #toprated .tmovie .tinfo span,
#movies #toprated .tmovie .uinfo span,
#movies #toprated .tmovie .ttinfo span,
#movies #toprated .tmovie .atinfo span,
#movies #toprated .umovie .tinfo span,
#movies #toprated .umovie .uinfo span,
#movies #toprated .umovie .ttinfo span,
#movies #toprated .umovie .atinfo span,
#movies #toprated .ttv .tinfo span,
#movies #toprated .ttv .uinfo span,
#movies #toprated .ttv .ttinfo span,
#movies #toprated .ttv .atinfo span,
#movies #toprated .atv .tinfo span,
#movies #toprated .atv .uinfo span,
#movies #toprated .atv .ttinfo span,
#movies #toprated .atv .atinfo span,
#movies #upcoming .tmovie .tinfo span,
#movies #upcoming .tmovie .uinfo span,
#movies #upcoming .tmovie .ttinfo span,
#movies #upcoming .tmovie .atinfo span,
#movies #upcoming .umovie .tinfo span,
#movies #upcoming .umovie .uinfo span,
#movies #upcoming .umovie .ttinfo span,
#movies #upcoming .umovie .atinfo span,
#movies #upcoming .ttv .tinfo span,
#movies #upcoming .ttv .uinfo span,
#movies #upcoming .ttv .ttinfo span,
#movies #upcoming .ttv .atinfo span,
#movies #upcoming .atv .tinfo span,
#movies #upcoming .atv .uinfo span,
#movies #upcoming .atv .ttinfo span,
#movies #upcoming .atv .atinfo span,
#movies #ttoprated .tmovie .tinfo span,
#movies #ttoprated .tmovie .uinfo span,
#movies #ttoprated .tmovie .ttinfo span,
#movies #ttoprated .tmovie .atinfo span,
#movies #ttoprated .umovie .tinfo span,
#movies #ttoprated .umovie .uinfo span,
#movies #ttoprated .umovie .ttinfo span,
#movies #ttoprated .umovie .atinfo span,
#movies #ttoprated .ttv .tinfo span,
#movies #ttoprated .ttv .uinfo span,
#movies #ttoprated .ttv .ttinfo span,
#movies #ttoprated .ttv .atinfo span,
#movies #ttoprated .atv .tinfo span,
#movies #ttoprated .atv .uinfo span,
#movies #ttoprated .atv .ttinfo span,
#movies #ttoprated .atv .atinfo span,
#movies #airtdy .tmovie .tinfo span,
#movies #airtdy .tmovie .uinfo span,
#movies #airtdy .tmovie .ttinfo span,
#movies #airtdy .tmovie .atinfo span,
#movies #airtdy .umovie .tinfo span,
#movies #airtdy .umovie .uinfo span,
#movies #airtdy .umovie .ttinfo span,
#movies #airtdy .umovie .atinfo span,
#movies #airtdy .ttv .tinfo span,
#movies #airtdy .ttv .uinfo span,
#movies #airtdy .ttv .ttinfo span,
#movies #airtdy .ttv .atinfo span,
#movies #airtdy .atv .tinfo span,
#movies #airtdy .atv .uinfo span,
#movies #airtdy .atv .ttinfo span,
#movies #airtdy .atv .atinfo span,
#tvs #toprated .tmovie .tinfo span,
#tvs #toprated .tmovie .uinfo span,
#tvs #toprated .tmovie .ttinfo span,
#tvs #toprated .tmovie .atinfo span,
#tvs #toprated .umovie .tinfo span,
#tvs #toprated .umovie .uinfo span,
#tvs #toprated .umovie .ttinfo span,
#tvs #toprated .umovie .atinfo span,
#tvs #toprated .ttv .tinfo span,
#tvs #toprated .ttv .uinfo span,
#tvs #toprated .ttv .ttinfo span,
#tvs #toprated .ttv .atinfo span,
#tvs #toprated .atv .tinfo span,
#tvs #toprated .atv .uinfo span,
#tvs #toprated .atv .ttinfo span,
#tvs #toprated .atv .atinfo span,
#tvs #upcoming .tmovie .tinfo span,
#tvs #upcoming .tmovie .uinfo span,
#tvs #upcoming .tmovie .ttinfo span,
#tvs #upcoming .tmovie .atinfo span,
#tvs #upcoming .umovie .tinfo span,
#tvs #upcoming .umovie .uinfo span,
#tvs #upcoming .umovie .ttinfo span,
#tvs #upcoming .umovie .atinfo span,
#tvs #upcoming .ttv .tinfo span,
#tvs #upcoming .ttv .uinfo span,
#tvs #upcoming .ttv .ttinfo span,
#tvs #upcoming .ttv .atinfo span,
#tvs #upcoming .atv .tinfo span,
#tvs #upcoming .atv .uinfo span,
#tvs #upcoming .atv .ttinfo span,
#tvs #upcoming .atv .atinfo span,
#tvs #ttoprated .tmovie .tinfo span,
#tvs #ttoprated .tmovie .uinfo span,
#tvs #ttoprated .tmovie .ttinfo span,
#tvs #ttoprated .tmovie .atinfo span,
#tvs #ttoprated .umovie .tinfo span,
#tvs #ttoprated .umovie .uinfo span,
#tvs #ttoprated .umovie .ttinfo span,
#tvs #ttoprated .umovie .atinfo span,
#tvs #ttoprated .ttv .tinfo span,
#tvs #ttoprated .ttv .uinfo span,
#tvs #ttoprated .ttv .ttinfo span,
#tvs #ttoprated .ttv .atinfo span,
#tvs #ttoprated .atv .tinfo span,
#tvs #ttoprated .atv .uinfo span,
#tvs #ttoprated .atv .ttinfo span,
#tvs #ttoprated .atv .atinfo span,
#tvs #airtdy .tmovie .tinfo span,
#tvs #airtdy .tmovie .uinfo span,
#tvs #airtdy .tmovie .ttinfo span,
#tvs #airtdy .tmovie .atinfo span,
#tvs #airtdy .umovie .tinfo span,
#tvs #airtdy .umovie .uinfo span,
#tvs #airtdy .umovie .ttinfo span,
#tvs #airtdy .umovie .atinfo span,
#tvs #airtdy .ttv .tinfo span,
#tvs #airtdy .ttv .uinfo span,
#tvs #airtdy .ttv .ttinfo span,
#tvs #airtdy .ttv .atinfo span,
#tvs #airtdy .atv .tinfo span,
#tvs #airtdy .atv .uinfo span,
#tvs #airtdy .atv .ttinfo span,
#tvs #airtdy .atv .atinfo span {
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.445);
  padding: 0.25rem 0.35rem;
}

#movies #toprated .tmovie .tinfo span.green,
#movies #toprated .tmovie .uinfo span.green,
#movies #toprated .tmovie .ttinfo span.green,
#movies #toprated .tmovie .atinfo span.green,
#movies #toprated .umovie .tinfo span.green,
#movies #toprated .umovie .uinfo span.green,
#movies #toprated .umovie .ttinfo span.green,
#movies #toprated .umovie .atinfo span.green,
#movies #toprated .ttv .tinfo span.green,
#movies #toprated .ttv .uinfo span.green,
#movies #toprated .ttv .ttinfo span.green,
#movies #toprated .ttv .atinfo span.green,
#movies #toprated .atv .tinfo span.green,
#movies #toprated .atv .uinfo span.green,
#movies #toprated .atv .ttinfo span.green,
#movies #toprated .atv .atinfo span.green,
#movies #upcoming .tmovie .tinfo span.green,
#movies #upcoming .tmovie .uinfo span.green,
#movies #upcoming .tmovie .ttinfo span.green,
#movies #upcoming .tmovie .atinfo span.green,
#movies #upcoming .umovie .tinfo span.green,
#movies #upcoming .umovie .uinfo span.green,
#movies #upcoming .umovie .ttinfo span.green,
#movies #upcoming .umovie .atinfo span.green,
#movies #upcoming .ttv .tinfo span.green,
#movies #upcoming .ttv .uinfo span.green,
#movies #upcoming .ttv .ttinfo span.green,
#movies #upcoming .ttv .atinfo span.green,
#movies #upcoming .atv .tinfo span.green,
#movies #upcoming .atv .uinfo span.green,
#movies #upcoming .atv .ttinfo span.green,
#movies #upcoming .atv .atinfo span.green,
#movies #ttoprated .tmovie .tinfo span.green,
#movies #ttoprated .tmovie .uinfo span.green,
#movies #ttoprated .tmovie .ttinfo span.green,
#movies #ttoprated .tmovie .atinfo span.green,
#movies #ttoprated .umovie .tinfo span.green,
#movies #ttoprated .umovie .uinfo span.green,
#movies #ttoprated .umovie .ttinfo span.green,
#movies #ttoprated .umovie .atinfo span.green,
#movies #ttoprated .ttv .tinfo span.green,
#movies #ttoprated .ttv .uinfo span.green,
#movies #ttoprated .ttv .ttinfo span.green,
#movies #ttoprated .ttv .atinfo span.green,
#movies #ttoprated .atv .tinfo span.green,
#movies #ttoprated .atv .uinfo span.green,
#movies #ttoprated .atv .ttinfo span.green,
#movies #ttoprated .atv .atinfo span.green,
#movies #airtdy .tmovie .tinfo span.green,
#movies #airtdy .tmovie .uinfo span.green,
#movies #airtdy .tmovie .ttinfo span.green,
#movies #airtdy .tmovie .atinfo span.green,
#movies #airtdy .umovie .tinfo span.green,
#movies #airtdy .umovie .uinfo span.green,
#movies #airtdy .umovie .ttinfo span.green,
#movies #airtdy .umovie .atinfo span.green,
#movies #airtdy .ttv .tinfo span.green,
#movies #airtdy .ttv .uinfo span.green,
#movies #airtdy .ttv .ttinfo span.green,
#movies #airtdy .ttv .atinfo span.green,
#movies #airtdy .atv .tinfo span.green,
#movies #airtdy .atv .uinfo span.green,
#movies #airtdy .atv .ttinfo span.green,
#movies #airtdy .atv .atinfo span.green,
#tvs #toprated .tmovie .tinfo span.green,
#tvs #toprated .tmovie .uinfo span.green,
#tvs #toprated .tmovie .ttinfo span.green,
#tvs #toprated .tmovie .atinfo span.green,
#tvs #toprated .umovie .tinfo span.green,
#tvs #toprated .umovie .uinfo span.green,
#tvs #toprated .umovie .ttinfo span.green,
#tvs #toprated .umovie .atinfo span.green,
#tvs #toprated .ttv .tinfo span.green,
#tvs #toprated .ttv .uinfo span.green,
#tvs #toprated .ttv .ttinfo span.green,
#tvs #toprated .ttv .atinfo span.green,
#tvs #toprated .atv .tinfo span.green,
#tvs #toprated .atv .uinfo span.green,
#tvs #toprated .atv .ttinfo span.green,
#tvs #toprated .atv .atinfo span.green,
#tvs #upcoming .tmovie .tinfo span.green,
#tvs #upcoming .tmovie .uinfo span.green,
#tvs #upcoming .tmovie .ttinfo span.green,
#tvs #upcoming .tmovie .atinfo span.green,
#tvs #upcoming .umovie .tinfo span.green,
#tvs #upcoming .umovie .uinfo span.green,
#tvs #upcoming .umovie .ttinfo span.green,
#tvs #upcoming .umovie .atinfo span.green,
#tvs #upcoming .ttv .tinfo span.green,
#tvs #upcoming .ttv .uinfo span.green,
#tvs #upcoming .ttv .ttinfo span.green,
#tvs #upcoming .ttv .atinfo span.green,
#tvs #upcoming .atv .tinfo span.green,
#tvs #upcoming .atv .uinfo span.green,
#tvs #upcoming .atv .ttinfo span.green,
#tvs #upcoming .atv .atinfo span.green,
#tvs #ttoprated .tmovie .tinfo span.green,
#tvs #ttoprated .tmovie .uinfo span.green,
#tvs #ttoprated .tmovie .ttinfo span.green,
#tvs #ttoprated .tmovie .atinfo span.green,
#tvs #ttoprated .umovie .tinfo span.green,
#tvs #ttoprated .umovie .uinfo span.green,
#tvs #ttoprated .umovie .ttinfo span.green,
#tvs #ttoprated .umovie .atinfo span.green,
#tvs #ttoprated .ttv .tinfo span.green,
#tvs #ttoprated .ttv .uinfo span.green,
#tvs #ttoprated .ttv .ttinfo span.green,
#tvs #ttoprated .ttv .atinfo span.green,
#tvs #ttoprated .atv .tinfo span.green,
#tvs #ttoprated .atv .uinfo span.green,
#tvs #ttoprated .atv .ttinfo span.green,
#tvs #ttoprated .atv .atinfo span.green,
#tvs #airtdy .tmovie .tinfo span.green,
#tvs #airtdy .tmovie .uinfo span.green,
#tvs #airtdy .tmovie .ttinfo span.green,
#tvs #airtdy .tmovie .atinfo span.green,
#tvs #airtdy .umovie .tinfo span.green,
#tvs #airtdy .umovie .uinfo span.green,
#tvs #airtdy .umovie .ttinfo span.green,
#tvs #airtdy .umovie .atinfo span.green,
#tvs #airtdy .ttv .tinfo span.green,
#tvs #airtdy .ttv .uinfo span.green,
#tvs #airtdy .ttv .ttinfo span.green,
#tvs #airtdy .ttv .atinfo span.green,
#tvs #airtdy .atv .tinfo span.green,
#tvs #airtdy .atv .uinfo span.green,
#tvs #airtdy .atv .ttinfo span.green,
#tvs #airtdy .atv .atinfo span.green {
  color: #139713;
}

#movies #toprated .tmovie .tinfo span.orange,
#movies #toprated .tmovie .uinfo span.orange,
#movies #toprated .tmovie .ttinfo span.orange,
#movies #toprated .tmovie .atinfo span.orange,
#movies #toprated .umovie .tinfo span.orange,
#movies #toprated .umovie .uinfo span.orange,
#movies #toprated .umovie .ttinfo span.orange,
#movies #toprated .umovie .atinfo span.orange,
#movies #toprated .ttv .tinfo span.orange,
#movies #toprated .ttv .uinfo span.orange,
#movies #toprated .ttv .ttinfo span.orange,
#movies #toprated .ttv .atinfo span.orange,
#movies #toprated .atv .tinfo span.orange,
#movies #toprated .atv .uinfo span.orange,
#movies #toprated .atv .ttinfo span.orange,
#movies #toprated .atv .atinfo span.orange,
#movies #upcoming .tmovie .tinfo span.orange,
#movies #upcoming .tmovie .uinfo span.orange,
#movies #upcoming .tmovie .ttinfo span.orange,
#movies #upcoming .tmovie .atinfo span.orange,
#movies #upcoming .umovie .tinfo span.orange,
#movies #upcoming .umovie .uinfo span.orange,
#movies #upcoming .umovie .ttinfo span.orange,
#movies #upcoming .umovie .atinfo span.orange,
#movies #upcoming .ttv .tinfo span.orange,
#movies #upcoming .ttv .uinfo span.orange,
#movies #upcoming .ttv .ttinfo span.orange,
#movies #upcoming .ttv .atinfo span.orange,
#movies #upcoming .atv .tinfo span.orange,
#movies #upcoming .atv .uinfo span.orange,
#movies #upcoming .atv .ttinfo span.orange,
#movies #upcoming .atv .atinfo span.orange,
#movies #ttoprated .tmovie .tinfo span.orange,
#movies #ttoprated .tmovie .uinfo span.orange,
#movies #ttoprated .tmovie .ttinfo span.orange,
#movies #ttoprated .tmovie .atinfo span.orange,
#movies #ttoprated .umovie .tinfo span.orange,
#movies #ttoprated .umovie .uinfo span.orange,
#movies #ttoprated .umovie .ttinfo span.orange,
#movies #ttoprated .umovie .atinfo span.orange,
#movies #ttoprated .ttv .tinfo span.orange,
#movies #ttoprated .ttv .uinfo span.orange,
#movies #ttoprated .ttv .ttinfo span.orange,
#movies #ttoprated .ttv .atinfo span.orange,
#movies #ttoprated .atv .tinfo span.orange,
#movies #ttoprated .atv .uinfo span.orange,
#movies #ttoprated .atv .ttinfo span.orange,
#movies #ttoprated .atv .atinfo span.orange,
#movies #airtdy .tmovie .tinfo span.orange,
#movies #airtdy .tmovie .uinfo span.orange,
#movies #airtdy .tmovie .ttinfo span.orange,
#movies #airtdy .tmovie .atinfo span.orange,
#movies #airtdy .umovie .tinfo span.orange,
#movies #airtdy .umovie .uinfo span.orange,
#movies #airtdy .umovie .ttinfo span.orange,
#movies #airtdy .umovie .atinfo span.orange,
#movies #airtdy .ttv .tinfo span.orange,
#movies #airtdy .ttv .uinfo span.orange,
#movies #airtdy .ttv .ttinfo span.orange,
#movies #airtdy .ttv .atinfo span.orange,
#movies #airtdy .atv .tinfo span.orange,
#movies #airtdy .atv .uinfo span.orange,
#movies #airtdy .atv .ttinfo span.orange,
#movies #airtdy .atv .atinfo span.orange,
#tvs #toprated .tmovie .tinfo span.orange,
#tvs #toprated .tmovie .uinfo span.orange,
#tvs #toprated .tmovie .ttinfo span.orange,
#tvs #toprated .tmovie .atinfo span.orange,
#tvs #toprated .umovie .tinfo span.orange,
#tvs #toprated .umovie .uinfo span.orange,
#tvs #toprated .umovie .ttinfo span.orange,
#tvs #toprated .umovie .atinfo span.orange,
#tvs #toprated .ttv .tinfo span.orange,
#tvs #toprated .ttv .uinfo span.orange,
#tvs #toprated .ttv .ttinfo span.orange,
#tvs #toprated .ttv .atinfo span.orange,
#tvs #toprated .atv .tinfo span.orange,
#tvs #toprated .atv .uinfo span.orange,
#tvs #toprated .atv .ttinfo span.orange,
#tvs #toprated .atv .atinfo span.orange,
#tvs #upcoming .tmovie .tinfo span.orange,
#tvs #upcoming .tmovie .uinfo span.orange,
#tvs #upcoming .tmovie .ttinfo span.orange,
#tvs #upcoming .tmovie .atinfo span.orange,
#tvs #upcoming .umovie .tinfo span.orange,
#tvs #upcoming .umovie .uinfo span.orange,
#tvs #upcoming .umovie .ttinfo span.orange,
#tvs #upcoming .umovie .atinfo span.orange,
#tvs #upcoming .ttv .tinfo span.orange,
#tvs #upcoming .ttv .uinfo span.orange,
#tvs #upcoming .ttv .ttinfo span.orange,
#tvs #upcoming .ttv .atinfo span.orange,
#tvs #upcoming .atv .tinfo span.orange,
#tvs #upcoming .atv .uinfo span.orange,
#tvs #upcoming .atv .ttinfo span.orange,
#tvs #upcoming .atv .atinfo span.orange,
#tvs #ttoprated .tmovie .tinfo span.orange,
#tvs #ttoprated .tmovie .uinfo span.orange,
#tvs #ttoprated .tmovie .ttinfo span.orange,
#tvs #ttoprated .tmovie .atinfo span.orange,
#tvs #ttoprated .umovie .tinfo span.orange,
#tvs #ttoprated .umovie .uinfo span.orange,
#tvs #ttoprated .umovie .ttinfo span.orange,
#tvs #ttoprated .umovie .atinfo span.orange,
#tvs #ttoprated .ttv .tinfo span.orange,
#tvs #ttoprated .ttv .uinfo span.orange,
#tvs #ttoprated .ttv .ttinfo span.orange,
#tvs #ttoprated .ttv .atinfo span.orange,
#tvs #ttoprated .atv .tinfo span.orange,
#tvs #ttoprated .atv .uinfo span.orange,
#tvs #ttoprated .atv .ttinfo span.orange,
#tvs #ttoprated .atv .atinfo span.orange,
#tvs #airtdy .tmovie .tinfo span.orange,
#tvs #airtdy .tmovie .uinfo span.orange,
#tvs #airtdy .tmovie .ttinfo span.orange,
#tvs #airtdy .tmovie .atinfo span.orange,
#tvs #airtdy .umovie .tinfo span.orange,
#tvs #airtdy .umovie .uinfo span.orange,
#tvs #airtdy .umovie .ttinfo span.orange,
#tvs #airtdy .umovie .atinfo span.orange,
#tvs #airtdy .ttv .tinfo span.orange,
#tvs #airtdy .ttv .uinfo span.orange,
#tvs #airtdy .ttv .ttinfo span.orange,
#tvs #airtdy .ttv .atinfo span.orange,
#tvs #airtdy .atv .tinfo span.orange,
#tvs #airtdy .atv .uinfo span.orange,
#tvs #airtdy .atv .ttinfo span.orange,
#tvs #airtdy .atv .atinfo span.orange {
  color: orange;
}

#movies #toprated .tmovie .tinfo span.red,
#movies #toprated .tmovie .uinfo span.red,
#movies #toprated .tmovie .ttinfo span.red,
#movies #toprated .tmovie .atinfo span.red,
#movies #toprated .umovie .tinfo span.red,
#movies #toprated .umovie .uinfo span.red,
#movies #toprated .umovie .ttinfo span.red,
#movies #toprated .umovie .atinfo span.red,
#movies #toprated .ttv .tinfo span.red,
#movies #toprated .ttv .uinfo span.red,
#movies #toprated .ttv .ttinfo span.red,
#movies #toprated .ttv .atinfo span.red,
#movies #toprated .atv .tinfo span.red,
#movies #toprated .atv .uinfo span.red,
#movies #toprated .atv .ttinfo span.red,
#movies #toprated .atv .atinfo span.red,
#movies #upcoming .tmovie .tinfo span.red,
#movies #upcoming .tmovie .uinfo span.red,
#movies #upcoming .tmovie .ttinfo span.red,
#movies #upcoming .tmovie .atinfo span.red,
#movies #upcoming .umovie .tinfo span.red,
#movies #upcoming .umovie .uinfo span.red,
#movies #upcoming .umovie .ttinfo span.red,
#movies #upcoming .umovie .atinfo span.red,
#movies #upcoming .ttv .tinfo span.red,
#movies #upcoming .ttv .uinfo span.red,
#movies #upcoming .ttv .ttinfo span.red,
#movies #upcoming .ttv .atinfo span.red,
#movies #upcoming .atv .tinfo span.red,
#movies #upcoming .atv .uinfo span.red,
#movies #upcoming .atv .ttinfo span.red,
#movies #upcoming .atv .atinfo span.red,
#movies #ttoprated .tmovie .tinfo span.red,
#movies #ttoprated .tmovie .uinfo span.red,
#movies #ttoprated .tmovie .ttinfo span.red,
#movies #ttoprated .tmovie .atinfo span.red,
#movies #ttoprated .umovie .tinfo span.red,
#movies #ttoprated .umovie .uinfo span.red,
#movies #ttoprated .umovie .ttinfo span.red,
#movies #ttoprated .umovie .atinfo span.red,
#movies #ttoprated .ttv .tinfo span.red,
#movies #ttoprated .ttv .uinfo span.red,
#movies #ttoprated .ttv .ttinfo span.red,
#movies #ttoprated .ttv .atinfo span.red,
#movies #ttoprated .atv .tinfo span.red,
#movies #ttoprated .atv .uinfo span.red,
#movies #ttoprated .atv .ttinfo span.red,
#movies #ttoprated .atv .atinfo span.red,
#movies #airtdy .tmovie .tinfo span.red,
#movies #airtdy .tmovie .uinfo span.red,
#movies #airtdy .tmovie .ttinfo span.red,
#movies #airtdy .tmovie .atinfo span.red,
#movies #airtdy .umovie .tinfo span.red,
#movies #airtdy .umovie .uinfo span.red,
#movies #airtdy .umovie .ttinfo span.red,
#movies #airtdy .umovie .atinfo span.red,
#movies #airtdy .ttv .tinfo span.red,
#movies #airtdy .ttv .uinfo span.red,
#movies #airtdy .ttv .ttinfo span.red,
#movies #airtdy .ttv .atinfo span.red,
#movies #airtdy .atv .tinfo span.red,
#movies #airtdy .atv .uinfo span.red,
#movies #airtdy .atv .ttinfo span.red,
#movies #airtdy .atv .atinfo span.red,
#tvs #toprated .tmovie .tinfo span.red,
#tvs #toprated .tmovie .uinfo span.red,
#tvs #toprated .tmovie .ttinfo span.red,
#tvs #toprated .tmovie .atinfo span.red,
#tvs #toprated .umovie .tinfo span.red,
#tvs #toprated .umovie .uinfo span.red,
#tvs #toprated .umovie .ttinfo span.red,
#tvs #toprated .umovie .atinfo span.red,
#tvs #toprated .ttv .tinfo span.red,
#tvs #toprated .ttv .uinfo span.red,
#tvs #toprated .ttv .ttinfo span.red,
#tvs #toprated .ttv .atinfo span.red,
#tvs #toprated .atv .tinfo span.red,
#tvs #toprated .atv .uinfo span.red,
#tvs #toprated .atv .ttinfo span.red,
#tvs #toprated .atv .atinfo span.red,
#tvs #upcoming .tmovie .tinfo span.red,
#tvs #upcoming .tmovie .uinfo span.red,
#tvs #upcoming .tmovie .ttinfo span.red,
#tvs #upcoming .tmovie .atinfo span.red,
#tvs #upcoming .umovie .tinfo span.red,
#tvs #upcoming .umovie .uinfo span.red,
#tvs #upcoming .umovie .ttinfo span.red,
#tvs #upcoming .umovie .atinfo span.red,
#tvs #upcoming .ttv .tinfo span.red,
#tvs #upcoming .ttv .uinfo span.red,
#tvs #upcoming .ttv .ttinfo span.red,
#tvs #upcoming .ttv .atinfo span.red,
#tvs #upcoming .atv .tinfo span.red,
#tvs #upcoming .atv .uinfo span.red,
#tvs #upcoming .atv .ttinfo span.red,
#tvs #upcoming .atv .atinfo span.red,
#tvs #ttoprated .tmovie .tinfo span.red,
#tvs #ttoprated .tmovie .uinfo span.red,
#tvs #ttoprated .tmovie .ttinfo span.red,
#tvs #ttoprated .tmovie .atinfo span.red,
#tvs #ttoprated .umovie .tinfo span.red,
#tvs #ttoprated .umovie .uinfo span.red,
#tvs #ttoprated .umovie .ttinfo span.red,
#tvs #ttoprated .umovie .atinfo span.red,
#tvs #ttoprated .ttv .tinfo span.red,
#tvs #ttoprated .ttv .uinfo span.red,
#tvs #ttoprated .ttv .ttinfo span.red,
#tvs #ttoprated .ttv .atinfo span.red,
#tvs #ttoprated .atv .tinfo span.red,
#tvs #ttoprated .atv .uinfo span.red,
#tvs #ttoprated .atv .ttinfo span.red,
#tvs #ttoprated .atv .atinfo span.red,
#tvs #airtdy .tmovie .tinfo span.red,
#tvs #airtdy .tmovie .uinfo span.red,
#tvs #airtdy .tmovie .ttinfo span.red,
#tvs #airtdy .tmovie .atinfo span.red,
#tvs #airtdy .umovie .tinfo span.red,
#tvs #airtdy .umovie .uinfo span.red,
#tvs #airtdy .umovie .ttinfo span.red,
#tvs #airtdy .umovie .atinfo span.red,
#tvs #airtdy .ttv .tinfo span.red,
#tvs #airtdy .ttv .uinfo span.red,
#tvs #airtdy .ttv .ttinfo span.red,
#tvs #airtdy .ttv .atinfo span.red,
#tvs #airtdy .atv .tinfo span.red,
#tvs #airtdy .atv .uinfo span.red,
#tvs #airtdy .atv .ttinfo span.red,
#tvs #airtdy .atv .atinfo span.red {
  color: red;
}

#movies #toprated .tmovie .view,
#movies #toprated .umovie .view,
#movies #toprated .ttv .view,
#movies #toprated .atv .view,
#movies #upcoming .tmovie .view,
#movies #upcoming .umovie .view,
#movies #upcoming .ttv .view,
#movies #upcoming .atv .view,
#movies #ttoprated .tmovie .view,
#movies #ttoprated .umovie .view,
#movies #ttoprated .ttv .view,
#movies #ttoprated .atv .view,
#movies #airtdy .tmovie .view,
#movies #airtdy .umovie .view,
#movies #airtdy .ttv .view,
#movies #airtdy .atv .view,
#tvs #toprated .tmovie .view,
#tvs #toprated .umovie .view,
#tvs #toprated .ttv .view,
#tvs #toprated .atv .view,
#tvs #upcoming .tmovie .view,
#tvs #upcoming .umovie .view,
#tvs #upcoming .ttv .view,
#tvs #upcoming .atv .view,
#tvs #ttoprated .tmovie .view,
#tvs #ttoprated .umovie .view,
#tvs #ttoprated .ttv .view,
#tvs #ttoprated .atv .view,
#tvs #airtdy .tmovie .view,
#tvs #airtdy .umovie .view,
#tvs #airtdy .ttv .view,
#tvs #airtdy .atv .view {
  color: #000;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.973);
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

#movies #toprated .tmovie .view::-webkit-scrollbar,
#movies #toprated .umovie .view::-webkit-scrollbar,
#movies #toprated .ttv .view::-webkit-scrollbar,
#movies #toprated .atv .view::-webkit-scrollbar,
#movies #upcoming .tmovie .view::-webkit-scrollbar,
#movies #upcoming .umovie .view::-webkit-scrollbar,
#movies #upcoming .ttv .view::-webkit-scrollbar,
#movies #upcoming .atv .view::-webkit-scrollbar,
#movies #ttoprated .tmovie .view::-webkit-scrollbar,
#movies #ttoprated .umovie .view::-webkit-scrollbar,
#movies #ttoprated .ttv .view::-webkit-scrollbar,
#movies #ttoprated .atv .view::-webkit-scrollbar,
#movies #airtdy .tmovie .view::-webkit-scrollbar,
#movies #airtdy .umovie .view::-webkit-scrollbar,
#movies #airtdy .ttv .view::-webkit-scrollbar,
#movies #airtdy .atv .view::-webkit-scrollbar,
#tvs #toprated .tmovie .view::-webkit-scrollbar,
#tvs #toprated .umovie .view::-webkit-scrollbar,
#tvs #toprated .ttv .view::-webkit-scrollbar,
#tvs #toprated .atv .view::-webkit-scrollbar,
#tvs #upcoming .tmovie .view::-webkit-scrollbar,
#tvs #upcoming .umovie .view::-webkit-scrollbar,
#tvs #upcoming .ttv .view::-webkit-scrollbar,
#tvs #upcoming .atv .view::-webkit-scrollbar,
#tvs #ttoprated .tmovie .view::-webkit-scrollbar,
#tvs #ttoprated .umovie .view::-webkit-scrollbar,
#tvs #ttoprated .ttv .view::-webkit-scrollbar,
#tvs #ttoprated .atv .view::-webkit-scrollbar,
#tvs #airtdy .tmovie .view::-webkit-scrollbar,
#tvs #airtdy .umovie .view::-webkit-scrollbar,
#tvs #airtdy .ttv .view::-webkit-scrollbar,
#tvs #airtdy .atv .view::-webkit-scrollbar {
  width: 5px;
}

#movies #toprated .tmovie .view::-webkit-scrollbar-thumb,
#movies #toprated .umovie .view::-webkit-scrollbar-thumb,
#movies #toprated .ttv .view::-webkit-scrollbar-thumb,
#movies #toprated .atv .view::-webkit-scrollbar-thumb,
#movies #upcoming .tmovie .view::-webkit-scrollbar-thumb,
#movies #upcoming .umovie .view::-webkit-scrollbar-thumb,
#movies #upcoming .ttv .view::-webkit-scrollbar-thumb,
#movies #upcoming .atv .view::-webkit-scrollbar-thumb,
#movies #ttoprated .tmovie .view::-webkit-scrollbar-thumb,
#movies #ttoprated .umovie .view::-webkit-scrollbar-thumb,
#movies #ttoprated .ttv .view::-webkit-scrollbar-thumb,
#movies #ttoprated .atv .view::-webkit-scrollbar-thumb,
#movies #airtdy .tmovie .view::-webkit-scrollbar-thumb,
#movies #airtdy .umovie .view::-webkit-scrollbar-thumb,
#movies #airtdy .ttv .view::-webkit-scrollbar-thumb,
#movies #airtdy .atv .view::-webkit-scrollbar-thumb,
#tvs #toprated .tmovie .view::-webkit-scrollbar-thumb,
#tvs #toprated .umovie .view::-webkit-scrollbar-thumb,
#tvs #toprated .ttv .view::-webkit-scrollbar-thumb,
#tvs #toprated .atv .view::-webkit-scrollbar-thumb,
#tvs #upcoming .tmovie .view::-webkit-scrollbar-thumb,
#tvs #upcoming .umovie .view::-webkit-scrollbar-thumb,
#tvs #upcoming .ttv .view::-webkit-scrollbar-thumb,
#tvs #upcoming .atv .view::-webkit-scrollbar-thumb,
#tvs #ttoprated .tmovie .view::-webkit-scrollbar-thumb,
#tvs #ttoprated .umovie .view::-webkit-scrollbar-thumb,
#tvs #ttoprated .ttv .view::-webkit-scrollbar-thumb,
#tvs #ttoprated .atv .view::-webkit-scrollbar-thumb,
#tvs #airtdy .tmovie .view::-webkit-scrollbar-thumb,
#tvs #airtdy .umovie .view::-webkit-scrollbar-thumb,
#tvs #airtdy .ttv .view::-webkit-scrollbar-thumb,
#tvs #airtdy .atv .view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #302c2c;
}

#movies #toprated .tmovie .view h4,
#movies #toprated .umovie .view h4,
#movies #toprated .ttv .view h4,
#movies #toprated .atv .view h4,
#movies #upcoming .tmovie .view h4,
#movies #upcoming .umovie .view h4,
#movies #upcoming .ttv .view h4,
#movies #upcoming .atv .view h4,
#movies #ttoprated .tmovie .view h4,
#movies #ttoprated .umovie .view h4,
#movies #ttoprated .ttv .view h4,
#movies #ttoprated .atv .view h4,
#movies #airtdy .tmovie .view h4,
#movies #airtdy .umovie .view h4,
#movies #airtdy .ttv .view h4,
#movies #airtdy .atv .view h4,
#tvs #toprated .tmovie .view h4,
#tvs #toprated .umovie .view h4,
#tvs #toprated .ttv .view h4,
#tvs #toprated .atv .view h4,
#tvs #upcoming .tmovie .view h4,
#tvs #upcoming .umovie .view h4,
#tvs #upcoming .ttv .view h4,
#tvs #upcoming .atv .view h4,
#tvs #ttoprated .tmovie .view h4,
#tvs #ttoprated .umovie .view h4,
#tvs #ttoprated .ttv .view h4,
#tvs #ttoprated .atv .view h4,
#tvs #airtdy .tmovie .view h4,
#tvs #airtdy .umovie .view h4,
#tvs #airtdy .ttv .view h4,
#tvs #airtdy .atv .view h4 {
  margin-top: 0;
}

#movies #toprated .tmovie .view p,
#movies #toprated .umovie .view p,
#movies #toprated .ttv .view p,
#movies #toprated .atv .view p,
#movies #upcoming .tmovie .view p,
#movies #upcoming .umovie .view p,
#movies #upcoming .ttv .view p,
#movies #upcoming .atv .view p,
#movies #ttoprated .tmovie .view p,
#movies #ttoprated .umovie .view p,
#movies #ttoprated .ttv .view p,
#movies #ttoprated .atv .view p,
#movies #airtdy .tmovie .view p,
#movies #airtdy .umovie .view p,
#movies #airtdy .ttv .view p,
#movies #airtdy .atv .view p,
#tvs #toprated .tmovie .view p,
#tvs #toprated .umovie .view p,
#tvs #toprated .ttv .view p,
#tvs #toprated .atv .view p,
#tvs #upcoming .tmovie .view p,
#tvs #upcoming .umovie .view p,
#tvs #upcoming .ttv .view p,
#tvs #upcoming .atv .view p,
#tvs #ttoprated .tmovie .view p,
#tvs #ttoprated .umovie .view p,
#tvs #ttoprated .ttv .view p,
#tvs #ttoprated .atv .view p,
#tvs #airtdy .tmovie .view p,
#tvs #airtdy .umovie .view p,
#tvs #airtdy .ttv .view p,
#tvs #airtdy .atv .view p {
  font-weight: 600;
  font-style: italic;
  font-size: 90%;
}

#movies #newrelease,
#movies #onair,
#tvs #newrelease,
#tvs #onair {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#movies #newrelease .nmovie,
#movies #newrelease .ontv,
#movies #onair .nmovie,
#movies #onair .ontv,
#tvs #newrelease .nmovie,
#tvs #newrelease .ontv,
#tvs #onair .nmovie,
#tvs #onair .ontv {
  margin: 1rem auto 1rem 1rem;
  max-width: 100vw;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.205);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.205);
  width: 160px;
  background: rgba(165, 18, 18, 0.151);
}

#movies #newrelease .nmovie:hover .view,
#movies #newrelease .ontv:hover .view,
#movies #onair .nmovie:hover .view,
#movies #onair .ontv:hover .view,
#tvs #newrelease .nmovie:hover .view,
#tvs #newrelease .ontv:hover .view,
#tvs #onair .nmovie:hover .view,
#tvs #onair .ontv:hover .view {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#movies #newrelease .nmovie img,
#movies #newrelease .ontv img,
#movies #onair .nmovie img,
#movies #onair .ontv img,
#tvs #newrelease .nmovie img,
#tvs #newrelease .ontv img,
#tvs #onair .nmovie img,
#tvs #onair .ontv img {
  max-width: 100%;
}

#movies #newrelease .nmovie .ninfo,
#movies #newrelease .nmovie .oninfo,
#movies #newrelease .ontv .ninfo,
#movies #newrelease .ontv .oninfo,
#movies #onair .nmovie .ninfo,
#movies #onair .nmovie .oninfo,
#movies #onair .ontv .ninfo,
#movies #onair .ontv .oninfo,
#tvs #newrelease .nmovie .ninfo,
#tvs #newrelease .nmovie .oninfo,
#tvs #newrelease .ontv .ninfo,
#tvs #newrelease .ontv .oninfo,
#tvs #onair .nmovie .ninfo,
#tvs #onair .nmovie .oninfo,
#tvs #onair .ontv .ninfo,
#tvs #onair .ontv .oninfo {
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 1px;
}

#movies #newrelease .nmovie .ninfo h5,
#movies #newrelease .nmovie .oninfo h5,
#movies #newrelease .ontv .ninfo h5,
#movies #newrelease .ontv .oninfo h5,
#movies #onair .nmovie .ninfo h5,
#movies #onair .nmovie .oninfo h5,
#movies #onair .ontv .ninfo h5,
#movies #onair .ontv .oninfo h5,
#tvs #newrelease .nmovie .ninfo h5,
#tvs #newrelease .nmovie .oninfo h5,
#tvs #newrelease .ontv .ninfo h5,
#tvs #newrelease .ontv .oninfo h5,
#tvs #onair .nmovie .ninfo h5,
#tvs #onair .nmovie .oninfo h5,
#tvs #onair .ontv .ninfo h5,
#tvs #onair .ontv .oninfo h5 {
  margin: 0;
}

#movies #newrelease .nmovie .ninfo span,
#movies #newrelease .nmovie .oninfo span,
#movies #newrelease .ontv .ninfo span,
#movies #newrelease .ontv .oninfo span,
#movies #onair .nmovie .ninfo span,
#movies #onair .nmovie .oninfo span,
#movies #onair .ontv .ninfo span,
#movies #onair .ontv .oninfo span,
#tvs #newrelease .nmovie .ninfo span,
#tvs #newrelease .nmovie .oninfo span,
#tvs #newrelease .ontv .ninfo span,
#tvs #newrelease .ontv .oninfo span,
#tvs #onair .nmovie .ninfo span,
#tvs #onair .nmovie .oninfo span,
#tvs #onair .ontv .ninfo span,
#tvs #onair .ontv .oninfo span {
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.445);
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

#movies #newrelease .nmovie .ninfo span.green,
#movies #newrelease .nmovie .oninfo span.green,
#movies #newrelease .ontv .ninfo span.green,
#movies #newrelease .ontv .oninfo span.green,
#movies #onair .nmovie .ninfo span.green,
#movies #onair .nmovie .oninfo span.green,
#movies #onair .ontv .ninfo span.green,
#movies #onair .ontv .oninfo span.green,
#tvs #newrelease .nmovie .ninfo span.green,
#tvs #newrelease .nmovie .oninfo span.green,
#tvs #newrelease .ontv .ninfo span.green,
#tvs #newrelease .ontv .oninfo span.green,
#tvs #onair .nmovie .ninfo span.green,
#tvs #onair .nmovie .oninfo span.green,
#tvs #onair .ontv .ninfo span.green,
#tvs #onair .ontv .oninfo span.green {
  color: #139713;
}

#movies #newrelease .nmovie .ninfo span.orange,
#movies #newrelease .nmovie .oninfo span.orange,
#movies #newrelease .ontv .ninfo span.orange,
#movies #newrelease .ontv .oninfo span.orange,
#movies #onair .nmovie .ninfo span.orange,
#movies #onair .nmovie .oninfo span.orange,
#movies #onair .ontv .ninfo span.orange,
#movies #onair .ontv .oninfo span.orange,
#tvs #newrelease .nmovie .ninfo span.orange,
#tvs #newrelease .nmovie .oninfo span.orange,
#tvs #newrelease .ontv .ninfo span.orange,
#tvs #newrelease .ontv .oninfo span.orange,
#tvs #onair .nmovie .ninfo span.orange,
#tvs #onair .nmovie .oninfo span.orange,
#tvs #onair .ontv .ninfo span.orange,
#tvs #onair .ontv .oninfo span.orange {
  color: orange;
}

#movies #newrelease .nmovie .ninfo span.red,
#movies #newrelease .nmovie .oninfo span.red,
#movies #newrelease .ontv .ninfo span.red,
#movies #newrelease .ontv .oninfo span.red,
#movies #onair .nmovie .ninfo span.red,
#movies #onair .nmovie .oninfo span.red,
#movies #onair .ontv .ninfo span.red,
#movies #onair .ontv .oninfo span.red,
#tvs #newrelease .nmovie .ninfo span.red,
#tvs #newrelease .nmovie .oninfo span.red,
#tvs #newrelease .ontv .ninfo span.red,
#tvs #newrelease .ontv .oninfo span.red,
#tvs #onair .nmovie .ninfo span.red,
#tvs #onair .nmovie .oninfo span.red,
#tvs #onair .ontv .ninfo span.red,
#tvs #onair .ontv .oninfo span.red {
  color: red;
}

#movies #newrelease .nmovie .view,
#movies #newrelease .ontv .view,
#movies #onair .nmovie .view,
#movies #onair .ontv .view,
#tvs #newrelease .nmovie .view,
#tvs #newrelease .ontv .view,
#tvs #onair .nmovie .view,
#tvs #onair .ontv .view {
  color: #000;
  padding: 0.7rem;
  background: rgba(255, 255, 255, 0.973);
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

#movies #newrelease .nmovie .view::-webkit-scrollbar,
#movies #newrelease .ontv .view::-webkit-scrollbar,
#movies #onair .nmovie .view::-webkit-scrollbar,
#movies #onair .ontv .view::-webkit-scrollbar,
#tvs #newrelease .nmovie .view::-webkit-scrollbar,
#tvs #newrelease .ontv .view::-webkit-scrollbar,
#tvs #onair .nmovie .view::-webkit-scrollbar,
#tvs #onair .ontv .view::-webkit-scrollbar {
  width: 2px;
}

#movies #newrelease .nmovie .view::-webkit-scrollbar-thumb,
#movies #newrelease .ontv .view::-webkit-scrollbar-thumb,
#movies #onair .nmovie .view::-webkit-scrollbar-thumb,
#movies #onair .ontv .view::-webkit-scrollbar-thumb,
#tvs #newrelease .nmovie .view::-webkit-scrollbar-thumb,
#tvs #newrelease .ontv .view::-webkit-scrollbar-thumb,
#tvs #onair .nmovie .view::-webkit-scrollbar-thumb,
#tvs #onair .ontv .view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #302c2c;
}

#movies #newrelease .nmovie .view h4,
#movies #newrelease .ontv .view h4,
#movies #onair .nmovie .view h4,
#movies #onair .ontv .view h4,
#tvs #newrelease .nmovie .view h4,
#tvs #newrelease .ontv .view h4,
#tvs #onair .nmovie .view h4,
#tvs #onair .ontv .view h4 {
  margin-top: 0;
}

#movies #newrelease .nmovie .view p,
#movies #newrelease .ontv .view p,
#movies #onair .nmovie .view p,
#movies #onair .ontv .view p,
#tvs #newrelease .nmovie .view p,
#tvs #newrelease .ontv .view p,
#tvs #onair .nmovie .view p,
#tvs #onair .ontv .view p {
  font-weight: 600;
  font-style: italic;
  font-size: 90%;
}

@media screen and (min-width: 699px) {
  header .logo svg {
    margin: 5px;
  }
  header .logo svg text {
    font-size: 1.5rem;
  }
  header nav ul li {
    font-size: 1.2rem;
  }
  header nav ul li a {
    margin: 20px;
  }
  header .searchArea {
    padding: 1.8rem;
  }
  header .searchArea #form #search {
    font-size: 1rem;
  }
  main #movies,
  main #tvs {
    margin: 0;
  }
  main #movies h2,
  main #tvs h2 {
    font-size: 1.3rem;
  }
  main #movies h4,
  main #tvs h4 {
    font-size: 1.1rem;
  }
  main #movies h5,
  main #movies span,
  main #tvs h5,
  main #tvs span {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1025px) {
  header .logo svg {
    margin: 10px;
  }
  header .logo svg text {
    font-size: 1.9rem;
  }
  header nav ul li {
    font-size: 1.4rem;
  }
  header nav ul li a {
    margin: 25px;
  }
  header .searchArea {
    padding: 1.9rem;
  }
  header .searchArea #form {
    padding: 0.5rem;
  }
  header .searchArea #form #search {
    font-size: 1.2rem;
  }
  main #movies,
  main #tvs {
    margin: 0;
  }
  main #movies h2,
  main #tvs h2 {
    font-size: 1.4rem;
  }
  main #movies h4,
  main #tvs h4 {
    font-size: 1.2rem;
  }
  main #movies h5,
  main #movies span,
  main #tvs h5,
  main #tvs span {
    font-size: 1rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  color: rgba(255, 255, 255, 0.63);
  background: #031d33;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Poppins',sans-serif;
  overflow-x: hidden;
}

.spin-wrap {
  position: fixed;
  z-index: 99999;
  background: #0a2c49;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner {
  position: relative;
  height: 80px;
  width: 80px;
}

.spinner-q {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: inherit;
  width: inherit;
  border: 4px solid transparent;
  -webkit-animation: blink 1.5s infinite ease-out;
          animation: blink 1.5s infinite ease-out;
  border-radius: 50%;
}

@-webkit-keyframes blink {
  0% {
    border-top-color: #444444;
  }
  33% {
    border-top-color: rgba(63, 63, 63, 0.33);
  }
  100% {
    border-top-color: rgba(59, 59, 59, 0);
  }
}

@keyframes blink {
  0% {
    border-top-color: #444444;
  }
  33% {
    border-top-color: rgba(63, 63, 63, 0.33);
  }
  100% {
    border-top-color: rgba(59, 59, 59, 0);
  }
}

.spinner .spinner-q-2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: 0.375s;
          animation-delay: 0.375s;
}

.spinner .spinner-q-3 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.spinner .spinner-q-4 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: 1.125s;
          animation-delay: 1.125s;
}

header {
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

header .logo {
  width: 100px;
}

header .logo svg {
  font-size: 1.2rem;
}

header nav {
  margin: 15px;
  -ms-grid-column-align: center;
      justify-self: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

header nav ul li {
  margin: 15px 3px;
}

header nav ul li a {
  color: #21c299;
  text-decoration: none;
}

header .searchArea {
  padding: 1.7rem 0.1rem;
  justify-self: flex-end;
  max-width: 100%;
}

header .searchArea #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .searchArea #form #search {
  width: 100%;
  padding: 0.2rem 1rem;
  background: transparent;
  border: 1px solid rgba(33, 194, 154, 0.5);
  border-radius: 15px;
  color: #eee;
  font-family: inherit;
  outline: none;
}

header .searchArea #form #search::-webkit-input-placeholder {
  color: rgba(238, 238, 238, 0.616);
}

header .searchArea #form #search:-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.616);
}

header .searchArea #form #search::-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.616);
}

header .searchArea #form #search::placeholder {
  color: rgba(238, 238, 238, 0.616);
}

header .searchArea #form #search:focus {
  background: rgba(238, 238, 238, 0.096);
}

footer {
  max-width: 100vw;
  background: rgba(238, 238, 238, 0.171);
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div {
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */